html {
    scroll-behavior: smooth;  /*https://www.youtube.com/watch?v=_yTW9FvN4N8*/
}

body {
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
    overflow: auto;
}

/*---------------NAVIGATION BAR --------------*/

nav {
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 0em;
}

nav > ul > li {
    list-style-type: none;
    padding: 1em;    
    color: #ff5851;
    font-size: 1.5em;
    font-weight: 900;
}

a:link, a:visited {             /*ALL LINKS*/
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: inherit;
    opacity:0.8;
    text-decoration: underline;
}

/*--------------------CONTACT SIDEBAR--------------*/

.contact {
    position: fixed;
    left: 30px;
    font-size: 20px;
    color: #ff5851;
    border: none;
    background: none;
    cursor: pointer;
    bottom: 0px;
    z-index: 11;
}

.contact i {
    padding: 10px;
}

.contact::after {
    content: "";
    display: block;
    width: 1px;
    height: 150px;
    background-color: #ff5851;
    margin: 0 auto;
}

/*--------------------------MAIN------------------*/

.contents {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 10em;
    height: 750px;
}

.section {
    width: 90%;
    margin: 5em;
}

/*-------------------------HELLO------------------*/
.intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#hellotext {
    background-color: #ff5851;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  /*box-shadow from www.w3schools.com;*/
}

#introtext {
    margin: 0.9em;
    color: #ff5851;
    font-size:30px;
    font-weight:bolder;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#intro4 {
    color:#A9A9A9;
    font-style: italic;
}

/*-----------------------ABOUT------------------*/
.about {
    display: grid;
    grid-template-columns: 30% 70%;
}

#aboutimg {
    padding: 1em;
}

#aboutimg > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#aboutimg > img:hover {
    filter: grayscale(0%);
}

#abouttext {
    padding: 2em;
    background-color: #ff5851;
    color: white;
    font-size: 1.4em;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 25% 75%;
    grid-template-columns: 50% 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#abouttext.abtxt {
    width: 100%;
    height:100%;
}

#abouttext > #abouttext1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/*------------------PROJECTS--------------------*/

.projects {
    height: 2000px;
}

.projects > #projectstitle {
    color: #A9A9A9;
    font-size: 3em;
}

.projects > #projectstitle::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ff5851;
}

#projectsnav > ul {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 0em;
}

#projectsnav > ul > li {
    list-style-type: none;
    padding: 1em;    
    color: #ff5851;
    font-size: 1.5em;
    font-weight: 900;
}

.projectlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 auto;
    border-bottom: 4px dotted #A9A9A9;
}

.projectblock {
    position: relative;
    display: grid;
    grid-template-rows: 80% 20%;
    flex: 0 0 auto;  /*flex grow, flex shrink, flex basis*/
    width: 20em;
    height: 25em;   ;
    /*background-color: #ff5851;*/
    color: white;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5em;
}

.projectblock > img {
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.projectblock > .proj {
    padding: 2px;
    color: #A9A9A9;
    font-weight: bold;
}

.projectblock > .proj > .course {
    color: #ff5851;
}

.projectblock > .proj > .tech {
    color: #a9a9a9;
    font-weight: normal;
}

.projectblock > .overlay {      /*https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 96%;
    width: 96%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(to bottom right, #A9A9A9, #ff5851);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    padding: .5em;
}

.projectblock:hover .overlay {
    opacity: 0.9;
}

.projectblock > .overlay > .icon {
    font-size: 2.6em;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

/*-----------------CONTACT-----------------------*/

#contact {
    position: relative;
    top: 120em;
    bottom: 0em;
    left: 0em;
    height: 75px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #ff5851;
    color: white;
    padding: 0.5em;
}

#contact > #contactcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.contactitem {
    display: inline-block;
    padding: 1em;
}

/*#####################################################*/